{% extends "layout.html.twig" %}

{% block title %}
    Accueil
{% endblock %}

{% block content %}
    <div class="centered">
        <h3>
            <a href="{{ path('monblog_articles_showall') }}" >
                Tous nos&nbsp;articles
            </a>
        </h3>

        <h3>
            <a href="{{ path('monblog_auteurs_showall') }}">
                Tous nos&nbsp;auteurs
            </a>
        </h3>
    </div>  

    {% if dernierArticle is not empty %}
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title ">Dernier article du blog</h5>
                <h6 class="card-subtitle mb-2 text-muted">
                    Par <a href=" {{ path('monblog_auteur_show', {id: dernierArticle.auteur.id})}} ">{{ dernierArticle.auteur.fullName }}</a>
                </h6>
                <small class="text-muted">{{ dernierArticle.dateCreation|date('d/m/Y \\à H\\hi')}}</small>
                <figure>
                    <img src=" {{ asset('images/products/' ~ dernierArticle.image) }}" class="card-img-top" alt="">
                </figure>
                <h5>
                    <a href="{{ path('monblog_article_show', {'id': dernierArticle.id} ) }} ">{{ dernierArticle.titre }}</a>
                </h5>
                <p class="card-text articleSumary">
                    {{ dernierArticle.contenu|slice(0, 250) | raw}} <a href="{{ path('monblog_article_show', {'id': dernierArticle.id} ) }}">... Lire la suite</a>
                </p>
            </div>
        </div>
    {% else %}
        <div>
            <h4>Aucun articles veuillez revenir plus tard!!</h4>
        </div>
    {% endif %}

{% endblock %}