{% extends 'layout.html.twig' %}

{% block title %} {{ parent() }} - Nos articles {% endblock %}

{% block content %}

    <p><a href=" {{ path('monblog_article_create') }}">+ Ajouter un article</a></p>

    <table class="table thead-dark">
        <thead class="thead-dark">
            <tr>
                <th>Titre</th>
                <th>Contenu</th>
                <th>Publié le</th>
                <th>Auteur</th>
            {% if is_granted('ROLE_ADMIN') %}
                <th>Action</th>
            {% endif %}
            </tr>
        </thead>
        
        <tbody>
        {% for article in allArticles %}
            <tr>
                <td>
                    <a href=" {{ path('monblog_article_show', {'id': article.id} ) }} ">
                        {{ article.titre }}
                    </a>
                </td>
                <td>
                    {{ article.contenu | raw }}
                </td>
                <td>
                    {{ article.dateCreation | date('d/m/Y \\à H\\hi')}}
                </td>
                <td>
                    <a href=" {{ path('monblog_auteur_show', {id: article.auteur.id}) }} ">{{ article.auteur.fullName }}</a>
                </td>

            {% if(is_granted('ROLE_ADMIN')) %}
                <td>
                    <a href=" {{ path('monblog_article_delete', {id: article.id}) }} " onclick="return confirm('Are you sure you want to delete?')">
                        Supprimer
                    </a>
                    |
                    <a href="{{ path('monblog_article_update', {'id': article.id}) }}">
                        Éditer
                    </a>
                </td>
            {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}

